<html>

<head>
	<title>Pixi Hotwire</title>

	<!-- <meta id="viewport" name="viewport"
		content="width=width, height=height, minimum-scale=0.6, initial-scale=0.6, maximum-scale=0.6, user-scalable=1, shrink-to-fit=1, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes"> -->

	<style>
		@font-face {
    font-family: 'gt_sectrablack';
    src: url('gt-sectra-black-webfont.woff2') format('woff2'),
         url('gt-sectra-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gt_sectraregular';
    src: url('gt-sectra-regular-webfont.woff2') format('woff2'),
         url('gt-sectra-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sneakmono';
    src: url('sneak-mono-webfont.woff2') format('woff2'),
         url('sneak-mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

		html,
		body {
			display: grid;
			grid-template-columns: 800px 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-areas: "header header header"
                      			 "intro content content" 
								 "explain explain explain"
                      			 "footer footer footer";
			margin: 0;
			padding: 0;
			height: 100%;
			width: 100vw;
			/* overflow-x: hidden; */
			background-color: #000000;
			color: white;
		}

		header {
			grid-area: header;
			/* position: fixed; */
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 2rem;
			background-color: rgba(0,0,0,0.8);
			backdrop-filter: blur(8px);
			height: 100px;
			/* width: 100%; */
			color: white;
			font-size: 2rem;
			font-weight: 900;
			border-bottom: 1px solid rgba(255,255,255,0.1);
			text-align: center;;
		}

		.logo {
			font-family: 'gt_sectrablack';
		}

		.header-cta {
			padding: 1rem;
			font-family: 'sneakmono';
			border: 1px solid white;
			border-radius: 8px;
			font-size: 1.5rem;
		}

		.drop {
			font-family: 'sneakmono';
			font-size: 1.3rem;
			text-transform: uppercase;
		}

		#pixi-content {
			background: #000000;
			grid-area: header / footer / header / footer;
			/* width: 100%;
			height: 100%; */
		}

		.hero-container {
			position: relative;
			grid-area: header / footer / intro / intro;
			z-index: 999;
			align-self: center;
			margin-left: 8rem;
			transform: perspective(1000px) rotateY(10deg);
			opacity: 0;
		}

		.intro {
			font-size: 2rem;
			font-family: 'gt_sectraregular';
			text-shadow: 0px 4px 40px rgba(0,0,0,1);
		}

		.intro h1 {
			line-height: 0.9;
			font-weight: 900;
			font-family: 'gt_sectrablack';
		}

		.intro p {
			font-size: 1.8rem;
		}

		#sign-up {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			top: 0;
			position: absolute;
			background: rgba(0,0,0,0.6);
			border: solid 2px white;
			border-radius: 8px;
			height: 100%;
			width: 100%;
			grid-area: header / footer / intro / intro;
			z-index: 99999;
			transform: scale(0.75);
			font-size: 2rem;
			opacity: 0;
		}

		#cta-hero {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1.5rem;
			background: rgba(0,0,0,0.1);
			color: white;
			border: 2px solid white;
			border-radius: 8px;
			cursor: pointer;
			font-family: 'sneakmono';
		}

		#sign-up-submit {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1.5rem;
			background: rgba(0,0,0,0.1);
			color: white;
			border: 2px solid white;
			border-radius: 8px;
			cursor: pointer;
			margin-top: 4rem;
			font-family: 'sneakmono';
		}

		.explainer {
			display: flex;
			flex-direction: column;
			grid-area: explain / explain / explain / explain;
			margin-bottom: 4rem;
		}
		
		.explainer h1 {
			text-align: center;
			font-size: 4rem;
			font-family: 'gt_sectrablack';
		}

		.explainer img {
			margin: 0 auto;
		}

		.footer {
			grid-area: footer / footer / footer / footer;
		}

		.footer h1 {
			text-align: center;
			font-size: 4rem;
			font-family: 'gt_sectrablack';
		}
	</style>

</head>

<body>
	<header><span class="logo">BLASEBALL</span><span class="drop">The Next Drop is Friday, Oct 7th
		3:04PM PST</span><span class="header-cta">Sign Up</span></header>
	<!-- <noscript>Please enable JavaScript in your web browser to view this page.</noscript> -->
	<div class="hero-container">
		<div class="intro">
			<h1>Blaseball is Returning</h1>
			<p>After a long hiatus, or a quantum blip, Blaseball is Returning. Everyone’s favorite massively multiplayer horror Internet Blaseball League returns with a Big Bang.</p>
			<p>Mere seconds after a Black Hole swallowed the League, the Universe, and everyone we came to love (and loathe), a rift opens up over the Desert.</p>
			<p>Will the Fans Team Up to help the player’s escape the pull of The Black Hole? Or will the memories of the past be scattered like the Sands of Time?</p>
			<div id="cta-hero">Sign Up</div>
		</div>
		<div id="sign-up">
			Input forms, sign up details, etc.
			<div id="sign-up-submit">TEAM UP</div>
		</div>
	</div>
	<div id="pixi-content">
		<canvas id="pixi-canvas" />
	</div>
	<div class="explainer">
		<h1>But what is Blaseball?</h1>
		<img src="/meala.png" alt="">
	</div>
	<div class="footer">
		<h1>Footer Content</h1>
	</div>
</body>

</html>